@{
    Layout = "~/Views/Ignobilis/Shared/_Layout.cshtml";
    @model PageViewModel<Ignobilis.Models.Pages.IB_StartPage>
}

@section Head{
<title>@Model.CurrentPage.PageName</title>
}

<p>vafalls</p>
<h1>@Model.CurrentPage.PageName</h1>

